.card {
    /* border: navy solid; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: #93BDBE;
    position: relative;
}

h3 {
    color: #1B2D2D;
    font-size: 14pt;
    word-wrap: break-word;
    font-style: italic;
}

.like-button {
    position: absolute;
    background-color: #C1D9DA;
    /* left: 50%; */
    bottom: 10%;
    width: 25%;
}

.delete-button {
    position: absolute;
    background-color: #C1D9DA;
    left: 35%;
    bottom: 10%;
    width: 40%;
}